################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkerService/WorkerService/bin/Debug/netcoreapp3.1
